    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
    *{
         margin: 0;
        padding: 0;
        border: 0;
      }  
    body {
        background-color: rgb(126, 182, 83);
    }

    header {
        padding: 50px;
        border-bottom: 15px solid rgb(235, 235, 237);
        background-color: rgb(212, 219, 75);
    }

    header div {
        text-align: center;
    }
    header div a {
        color: rgb(206, 206, 219);
        font-size: 40px;
        line-height: 30px;
        margin: 0 16px;
        text-decoration: none;
        font-family:"incosolata",monospace;
        transition: color 700ms;
    } 
    header div a:hover {
        color: dimgrey;
        transition: color 700ms;
    }
