    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
    *{
         margin: 0;
        padding: 0;
        border: 0;
      }  
    body {
        background-color: rgb(43, 46, 56);
    }

    header {
        padding: 50px;
        border-bottom: 1px rgb(234, 233, 240);
        background-color: rgb(4, 4, 4);
    }

    header div {
        text-align: center;
    }
    header div a {
        color: rgb(206, 206, 219);
        font-size: 20px;
        line-height: 30px;
        margin: 0 16px;
        text-decoration: none;
        font-family:"incosolata",monospace;
    } 
    header div a:hover {
        color: dimgrey;
        transition: color 700ms;
    }